<div class="container">
    <div class="row hide-on-small-only">
        <div class="col s12" ng-show="user.currentUserDisplayName == null">
            <h4>Welcome!</h4>
            <p>Would you like to take a moment and enter your <a data-target="updateProfile">name</a>?</p>
        </div>
        <div class="col s12" ng-show="user.currentUserDisplayName != null">
            <h4 class="grey-text text-darken-4">Hi <span class="pink-text"> {{user.currentUserDisplayName}}</span>!</h4>
            <p class="grey-text text-darken-1">Welcome to your Tress Tracker Page. You can view all the items you've saved to your account here.</p>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <i class="pink-text material-icons prefix">search</i>
            <input type="text" ng-model="q" id="search" placeholder="Search your Tress Tracker wigs">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col s12 m12 l12 userWigs">
            <table class="highlight">
                <thead>
                    <tr>
                        <th data-field="id">List</th>
                        <th data-field="name">Wig Name</th>
                        <th data-field="brand">Brand Name</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-if="wig.owned" ng-repeat="wig in allUserWigs | filter:q">
                        <td><i class="pink-text material-icons left">favorite</i>Owned Item</td>
                        <td>{{wig.wigName}}</td>
                        <td>{{wig.wigBrand}}</td>
                        <td ><a class="white-text waves-effect waves btn-flat" data-target="profileViewMore" ng-click="setMyModalValues(wig)">More Info</a></td>
                        <td class="center"><a class="btn-flat deleteButton" ng-click="itemDelete(wig.id)"><i class="pink-text material-icons">delete</i></a></td>
                    </tr>
                    <tr ng-if="wig.wishlist" ng-repeat="wig in allUserWigs | filter:q">
                        <td><i class="pink-text material-icons left">grade</i>Wishlist Item</td>
                        <td>{{wig.wigName}}</td>
                        <td>{{wig.wigBrand}}</td>
                        <td><a class="white-text waves-effect waves btn-flat" data-target="profileViewMore" ng-click="setMyModalValues(wig)">More Info</a></td>
                        <td class="center"><a class="btn-flat deleteButton" ng-click="itemDelete(wig.id)"><i class="pink-text material-icons">delete</i></a></td>
                    </tr>
                    <tr ng-if="wig.triedLiked" ng-repeat="wig in allUserWigs | filter:q">
                        <td><i class="pink-text material-icons left">sentiment_very_satisfied</i>Tried and Liked</td>
                        <td>{{wig.wigName}}</td>
                        <td>{{wig.wigBrand}}</td>
                        <td><a class="white-text waves-effect waves btn-flat" data-target="profileViewMore" ng-click="setMyModalValues(wig)">More Info</a></td>
                        <td class="center"><a class="btn-flat deleteButton" ng-click="itemDelete(wig.id)"><i class="pink-text material-icons">delete</i></a></td>
                    </tr>
                    <tr ng-if="wig.triedDisliked" ng-repeat="wig in allUserWigs | filter:q">
                        <td><i class="pink-text material-icons left">sentiment_very_dissatisfied</i>Tried and Disliked</td>
                        <td>{{wig.wigName}}</td>
                        <td>{{wig.wigBrand}}</td>
                        <td><a class="white-text waves-effect waves btn-flat" data-target="profileViewMore" ng-click="setMyModalValues(wig)">More Info</a></td>
                        <td class="center"><a class="btn-flat deleteButton" ng-click="itemDelete(wig.id)"><i class="pink-text material-icons">delete</i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="profileViewMore" class="modal">
    <div class="modal-content">
            <div class="row">
                <div class="col s8 m4 offset-m2 grey-text text-darken-1">
                    <img class="circle responsive-img" ng-src="{{modalImage}}">
                </div>
                <div class="col s4 m4 offset-m1">
                    <br><br><br>
                    <h4 class="grey-text text-darken-4">{{modalName}}</h4>
                    <p>by {{modalBrand}}</p>
                    <p>{{modalHair}}{{modalWig}}</p>
                </div>
            </div>
            <div class="divider"></div>
                <div ng-if="modalOwned" class="row">
                    <div class="col s4 m4 grey-text text-darken-1">
                        <p><span class="grey-text text-darken-4">Purchase Date:</span> {{modalPurchaseDate | date}}</p>
                        <p><span class="grey-text text-darken-4">Purchase Price:</span> {{modalPurchasePrice | currency: "$" : 0}}</p>
                    </div>
                    <div class="col s4 m4 grey-text text-darken-1">
                        <p><span class="grey-text text-darken-4">Average Web Price:</span> {{modalPrice | currency: "$" : 0}}</p>
                        <p><span class="grey-text text-darken-4">Color Owned:</span> {{modalColor}} </p>
                    </div>
                    <div class="col s4 m4 grey-text text-darken-1">
                        <p><span class="grey-text text-darken-4">Cap Size:</span> {{modalCap}} </p>
                        <p><span class="grey-text text-darken-4">User Notes:</span> {{modalNote}} </p>
                    </div>
                </div>
                <div ng-if="modalWish" class="row">
                    <div class="col s4 m4 grey-text text-darken-1">
                        <p><span class="grey-text text-darken-4">Ideal Color:</span> {{modalColor}}</p>
                        <p><span class="grey-text text-darken-4">Ideal Cap:</span> {{modalCap}} </p>
                    </div>
                    <div class="col s4 m4 grey-text text-darken-1">
                        <p><span class="grey-text text-darken-4">Average Web Price:</span> {{modalPrice | currency: "$" : 0}}</p>
                        <p><span class="grey-text text-darken-4">User Notes:</span> {{modalNote}} </p>
                    </div>
                </div>
                <div ng-if="modalLike" class="row">
                    <div class="col s4 m4 grey-text text-darken-1">
                        <p><span class="grey-text text-darken-4">Tried Color:</span> {{modalColor}}</p>
                        <p><span class="grey-text text-darken-4">Tried Cap:</span> {{modalCap}} </p>
                    </div>
                    <div class="col s4 m4 grey-text text-darken-1">
                        <p><span class="grey-text text-darken-4">Average Web Price:</span> {{modalPrice  | currency: "$" : 0}}</p>
                        <p><span class="grey-text text-darken-4">User Notes:</span> {{modalNote}} </p>
                    </div>
                </div>
                <div ng-if="modalDislike" class="row">
                    <div class="col s4 m4 grey-text text-darken-1">
                        <p><span class="grey-text text-darken-4">Tried Color:</span> {{modalColor}}</p>
                        <p><span class="grey-text text-darken-4">Tried Cap:</span> {{modalCap}} </p>
                    </div>
                    <div class="col s4 m4 grey-text text-darken-1">
                        <p><span class="grey-text text-darken-4">Average Web Price:</span> {{modalPrice | currency: "$" : 0}}</p>
                        <p><span class="grey-text text-darken-4">User Notes:</span> {{modalNote}} </p>
                    </div>
                </div>
        <div class="modal-footer">
            <a class="white-text btn-flat waves-effect waves-light modal-close" name="action">Close
            <i class="material-icons right">clear</i>
            </a>
        </div>
    </div>
</div>

<div id="updateProfile" class="modal">
    <div class="modal-content">
        <div class="row">
            <div class="input-field col s12">
                <input id="displayName" type="text" class="validate" ng-model="user.currentUserDisplayName">
                <label for="displayName">Enter Your Display Name</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="white-text btn-flat waves-effect waves-light modal-close" name="action">Close
        <i class="material-icons right">clear</i>
        </a>
    </div>
</div>
