<div class="container">
    <!-- empty row for spacing  -->
    <div class="row pushDown hide-on-small-only"></div>

    <!-- search bar for all wig objects -->
    <div class="row">
        <div class="input-field col s12">
            <i class="pink-text material-icons prefix">search</i>
            <input type="text" ng-model="search" id="search" placeholder="Search for wig by name, brand, or hair type">
        </div>
    </div>

    <!-- filter buttons for search -->
    <div class="row filterButtons">
        <div class="input-field col s3 m3 l3">
            <select id="brands" ng-model="filterBrand">
                <option ng-repeat="brand in allBrands" value="{{brand}}">{{brand}}</option>
            </select>
            <label for="brands">Filter by Brand</label>
        </div>
        <div class="input-field col s3 m3 l3">
            <select id="hairtypes" ng-model="filterHair">
                <option ng-repeat="hair in hairTypes" value="{{hair}}">{{hair}}</option>
            </select>
            <label for="hairtypes">Filter by Hair Type</label>
        </div>
        <div class="input-field col s3 m3 l3">
            <select id="wigtypes" ng-model="filterWig">
                <option ng-repeat="wig in wigTypes" value="{{wig}}">{{wig}}</option>
            </select>
            <label for="ownedcolors">Filter by Wig Type</label>
        </div>
        <div class="col s3 m3 l3">
            <button class="white-text btn btn-flat clearBtn" type="submit" name="action" ng-click="clearFilters()">Clear All
            <i class="material-icons left">clear</i></button>
        </div>
    </div>

</div>


<div class="container">
    <!-- cards for each returned wig object -->
    <div class="row">
        <div class="col s6 m4 allWigs" ng-repeat="wig in allWigs | filter:q | filter:filterWig |filter:filterHair | filter:filterBrand | startFrom:currentPage*pageSize | limitTo:pageSize">
            <div class="card hoverable">
                <div class="card-image">
                    <a ng-href="#!/search/{{wig.id}}">
                    <img ng-src="{{wig.imageUrl}}">
                    <a class="btn-floating btn-large halfway-fab pink"><md-tooltip>The average web price of this item</md-tooltip>{{wig.averageWebPrice | currency: "$" : 0}}</a></a>
                </div>
                <div class="card-content">
                    <h5 class="grey-text text-darken-4">{{wig.wigName}}</h5>
                    <p class="grey-text text-darken-1">by {{wig.wigBrand}}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- pagination buttons -->
    <div class="row center-align">
        <button class="btn" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
        Previous </button>

        {{currentPage+1}}/{{numberOfPages()}}

        <button class="btn" ng-disabled="currentPage >= getData().length/pageSize - 1" ng-click="currentPage=currentPage+1">
        More Results
        </button>
    </div>

</div>
