<div class="container">
    <div class="row">
        <div class="col s6 m4 offset-m2">
            <div class="card">
                <div class="card-image">
                    <img ng-src="{{scrapedWig.product.images[0].src}}">
                </div>
            </div>
        </div>
        <div class="col s6 m4">
            <div class="card">
                <div class="card-image">
                    <img ng-src="{{scrapedWig.product.images[1].src}}">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col m6">
            <div class="card blue-grey lighten-4">
                <div class="card-content grey-text text-darken-1">
                    <span class="card-title grey-text text-darken-4">{{selectedWig.wigName}}</span>
                    <p>by {{selectedWig.wigBrand}}</p>
                    <p>{{selectedWig.hairType}} {{selectedWig.wigType}}</p>
                    <p><a target="_blank"
                          href="https://www.youtube.com/results?search_query={{selectedWig.wigName}}+by+{{selectedWig.wigBrand}}+reviews">Search
                        Youtube for video reviews</a></p>
                </div>
            </div>
        </div>
        <div class="col m3">
            <div class="card blue-grey lighten-4">
                <div class="card-content grey-text text-darken-1">
                    <span class="grey-text text-darken-4">Color Variants:</span>
                    <p ng-repeat="colorName in scrapedColors | startFrom : 1">{{colorName.title}}</p>
                </div>
                <div class="card-action">
                    <a class="pink-text" href="#!">
                        View all {{selectedWig.wigBrand}}'s colors
                    </a>
                </div>
            </div>
        </div>
        <div class="col m3">
            <br>
            <button class="btn" type="submit" name="action" data-target="ownedWig" ng-click="addOwnedWig()">+ Owned
                <i class="material-icons right">favorite</i></button>
            <br><br>
            <button class="btn" type="submit" name="action" ng-click="addWishlistWig()" data-target="wishlistForm">+
                Wishlist
                <i class="material-icons right">grade</i></button>
            <br><br>
            <div class="divider"></div>
            <p class="grey-text text-darken-4"> Trying On In Store? </p>
            <button class="btn" type="submit" name="action" ng-click="addTriedLiked()" data-target="likedForm">+ Liked
                <i class="material-icons right">face</i></button>
            <br><br>
            <button class="btn" type="submit" name="action" ng-click="addTriedDisliked()" data-target="dislikedForm">+
                Disliked
                <i class="material-icons right">face</i></button>
            <br><br>
        </div>
    </div>
</div>

<div id="ownedWig" class="modal">
    <div class="modal-content">
        <form>
            <div class="row">
                <div class="input-field col s8">
                    <input id="owned_purchase_price" type="number" class="validate" ng-model="userWigObj.purchasePrice">
                    <label for="owned_purchase_price">Purchase Price</label>
                </div>
                <div class="input-field col s4">
                    <input type="date" class="datepicker" ng-model="userWigObj.purchaseDate">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select id="ownedcolors" ng-model="userWigObj.color">
                        <option ng-repeat="colorName in scrapedColors" value="{{colorName.title}}">{{colorName.title}}
                        </option>
                    </select>
                    <label for="ownedcolors">Color Owned</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="owned_cap" type="text" class="validate" ng-model="userWigObj.capSize">
                    <label for="owned_cap">Cap Size</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="owned_notes" type="text" class="validate" ng-model="userWigObj.notes">
                    <label for="owned_notes">Any additional notes on this piece?</label>
                </div>
            </div>
        </form>
        <div class="modal-footer">
            <a class="white-text btn-flat waves-effect waves-light modal-close" type="submit" name="action"
               ng-click="ownedToFB()">Submit
                <i class="material-icons right">favorite</i>
            </a>
        </div>
    </div>
</div>

<div class="modal" id="wishlistForm">
    <div class="modal-content">
        <form>
            <div class="row">
                <div class="input-field col s12">
                    <select id="wishcolors" ng-model="userWigObj.color">
                        <option ng-repeat="colorName in scrapedColors" value="{{colorName.title}}">{{colorName.title}}
                        </option>
                    </select>
                    <label for="wishcolors">Ideal Color </label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="wish_cap" type="text" class="validate" ng-model="userWigObj.capSize">
                    <label for="wish_cap">Ideal Cap Size</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="wish_notes" type="text" class="validate" ng-model="userWigObj.notes">
                    <label for="wish_notes">Any additional notes on this piece?</label>
                </div>
            </div>
        </form>
        <div class="modal-footer">
            <a class="btn waves-effect waves-light modal-close" type="submit" name="action" ng-click="wishToFB()">Submit
                <i class="material-icons right">grade</i>
            </a>
        </div>
    </div>
</div>

<div class="modal" id="likedForm">
    <div class="modal-content">
        <form>
            <div class="row">
                <div class="input-field col s10">
                    <select id="likecolors" ng-model="userWigObj.color">
                        <option ng-repeat="colorName in scrapedColors" value="{{colorName.title}}">{{colorName.title}}
                        </option>
                    </select>
                    <label for="likecolors">Color Tried </label>
                </div>
                <div class="input-field col s2">
                    <input type="checkbox" id="addToWish" ng-click="addWishlistWig()"/>
                    <label for="addToWish">Also add to Wishlist?</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="liked_cap" type="text" class="validate" ng-model="userWigObj.capSize">
                    <label for="liked_cap">Cap Size</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="liked_notes" type="text" class="validate" ng-model="userWigObj.notes">
                    <label for="liked_notes">Any additional notes on this piece?</label>
                </div>
            </div>
        </form>
        <div class="modal-footer">
            <a class="btn waves-effect waves-light modal-close" type="submit" name="action" ng-click="likeToFB()">Submit
                <i class="material-icons right">sentiment_very_satisfied</i>
            </a>
        </div>
    </div>
</div>

<div class="modal" id="dislikedForm">
    <div class="modal-content">
        <form>
            <div class="row">
                <div class="input-field col s12">
                    <select ng-model="userWigObj.color">
                        <option ng-repeat="colorName in scrapedColors" value="{{colorName.title}}">{{colorName.title}}
                        </option>
                    </select>
                    <label>Color Tried</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="disliked_cap" type="text" class="validate" ng-model="userWigObj.capSize">
                    <label for="disliked_cap">Cap Size</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="disliked_notes" type="text" class="validate" ng-model="userWigObj.notes">
                    <label for="disliked_notes">Any notes on why this did not work for you?</label>
                </div>
            </div>
        </form>
        <div class="modal-footer">
            <a class="btn waves-effect waves-light modal-close" type="submit" name="action" ng-click="dislikeToFB()">Submit
                <i class="material-icons right">sentiment_very_dissatisfied</i>
            </a>
        </div>
    </div>
</div>
